<p id="notice"><%= notice %></p>

<h1>Listing Blog Posts</h1>

<div class="row">
   <% @blog_posts.each do |blog_post| %>
   <div class="col-md-6">
     <div class="panel panel-success">
     <tr>
       <div class="panel-heading">
         <p><strong><%= link_to blog_post.title, blog_post %></p>
       </div>
       <div class="panel-body">
         <p>by <strong><%= blog_post.author %></p>
         <p><%= blog_post.blog_entry %></p>
       </div>
       <div class="panel-footer">
<!--           <%= link_to 'Show', blog_post, class: "btn btn-primary" %> -->
         <%= link_to 'Edit', edit_blog_post_path(blog_post),  class: "btn btn-warning"  %>
         <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
       </div>
     </tr>
     </div>
   </div>
   <% end %>
</div>

<br>

<%= link_to 'New Blog post', new_blog_post_path %>